<p><%= @post.description %></p>
by <i><%= @post.user.name %></i> at <i><%= @post.created_at.to_formatted_s(:short) %></i>
<br/>
<% if current_user.liked? @post%>
  <%= link_to "Like", dislike_post_path(@post), method: :put %>
<% else %>
  <%= link_to "Like", like_post_path(@post), method: :put %>
<% end %>
<%= @post.get_likes.size %>
<%= commontator_thread(@post) %>
<% if user_signed_in? %>
  <p>
    <%= link_to "Edit", edit_post_path if policy(@post).edit? %>
    <%= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" } if policy(@post).destroy? %>
  </p>
<% end %>