<p><%= @post.description %></p>
by <i><%= @post.user.name %></i> at <i><%= @post.created_at.to_formatted_s(:short) %></i>
<br/>
<% if user_signed_in? %>
  <p>
    <%= link_to "Edit", edit_post_path if policy(@post).edit? %>
    <%= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" } if policy(@post).destroy? %>
  </p>
<% end %>