<p><%= @post.description %></p>
by <b><%= @post.user.email %></b> at <b><%= @post.created_at.to_formatted_s(:short) %></b>
<%= commontator_thread(@post) %>
<% if user_signed_in? %>
  <p>
    <%= link_to "Edit", edit_post_path %>
    <%= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>