<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <p><%= message %></p>
    <% end %>
    <%= link_to "Home", root_path %>
    <% if user_signed_in? %>
      <%= link_to "New Post", new_post_path %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Find Friends", users_path %>
      <%= link_to "Notification[#{notification}]", friend_requests_path %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
